/**
 * pointer events
 */
p {
	padding: 5px;
	margin: 10px;
}
p:hover {
	background: lightgreen;
}
.over {
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	background: rgba(0,0,0,.4);
	pointer-events: none;
}
