{% extends "layout.html" %}

{% block content %}


        <!-- insert the page content here -->
        <h1>Register</h1>
        <form method="post" action="/register">
    <p>
    <label for="username">Username:</label>
      <input type="text" id="username" name="username" size="40"/> </p>
    <p>
      <label for="password">Password:</label>
    <input type="password" id="password" name="pw" size="40" /></p>
          
    <p>
    <label for="zipcode">Zipcode:</label>
    <input type="zipcode" id="zipcode" name="zipcode" size="40" /></p>
          
    <p><input type="submit" value="register" name="submit" /></p>
  </form>
        
        
 
        
{% endblock %}
